@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  
}
.Brand a{
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.Brand a:hover{
  transition: 0,7s;
  background-color: aqua;
  box-shadow: 0 0 5px rgb(0, 255, 255),  0 0 20px rgb(0, 255, 255),  0 0 200px rgb(0, 255, 255);
  -webkit-transition: 0,7s;
  -moz-transition: 0,7s;
  -ms-transition: 0,7s;
  -o-transition: 0,7s;
} .navbar{
  background: #000000;
  color-scheme: #000000;
color: white;

}
.navbar-toggler-icon{
   color: #fff;
   background-color: white ;
   border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   -ms-border-radius:5px;
   -o-border-radius:5px;
}

.navbar .nav-link a {
  padding: 4px 10px 5px 10px;
  text-decoration: none;
  color: azure;
  border-radius: 5px;
  text-decoration: solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.navbar .nav-link a:hover{
  background-color: cyan;
  transition: 0,5s;
  box-shadow: 0 0 5px rgb(0, 255, 255),              0 0 20px rgb(0, 255, 255),              0 0 200px rgb(0, 255, 255);
  border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  -webkit-transition: 0,5s;
  -moz-transition: 0,5s;
  -ms-transition: 0,5s;
  -o-transition: 0,5s;
  -webkit-border-radius:5px;
}
.navbar .nav-link .active{
  background-color: black;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.Homepages{
  height: 90vh;
  margin: 20px;
}
.footer{
  height: 100px;
  background: #000000;
  color: #fff;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;

}
.logo-icon{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background: rgb(28, 17, 41, 0.88);

}
.ContainerIn{
  background: #fff;
  border-radius: 10px 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;

}
form .input-box{
  width: calc(100%/2 -20px);
}
.ContainerIn input{
  width: 100%;
}
.FormInputData
{
  background: linear-gradient(135deg,#71b7e6,#9b59b6);
  padding-bottom: 20px;
  
}
.menu-bar{
  height:  100vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}
.Inputed{
  color: black;
  padding: 5px;
  margin: 10px;

  background-color: rgba(224, 224, 224, 0.589) ;
  border-radius: 5px 5px 5px 5px ;
}